extends layout

block content  
  h1 
    i.fa.fa-lg.fa-pie-chart 
    span Arts in the Park
  h2 Welcome to the Arts in the Park website.
  p To upload arts, please login.
  br
  a(href="/login")
    button() Login

  
